.components-controlbar{
    background: #fff;
    height:50px;
    margin-top:100px;
    .control-part1{
        width: 130px;
        li{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 50px;
            padding-left: 20px;
        }
    }
    .control-part2{
        width: 170px;
        li{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 50px;
            padding-left: 20px;
        }
    }
    .ccc{
        color: #ccc;
    }
    .ddd{
        color: #ddd;
    }
    .dark{
        color: #787474;
    }
}
