.components-controlbar{
    background: rgb(231, 227, 227);
    height:50px;
    .left-img{
        width: 40px;
        margin-left: 20px;
        img{
            width: 25px;
        }
    }
    .control-part1{
        width: 130px;
    }
    .control-part2{
        width: 170px;     
    }
    .click-item{
        display: inline-block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 50px;
        padding-left: 20px;
        font-size: 22px;
        cursor: pointer;
        //text-shadow: 0 0 1px;
        &:hover{
            color: #155fd4;
            text-shadow: 0 0 1px;
        }
    }
    .ccc{
        color: #ccc;
    }
    .ddd{
        color: #ddd;
    }
    .dark{
        color: #787474;
    }
    .red{
        color:#e0245e;
        font-size: 20px;
        text-shadow: 0 0 10px;
    }
}
