.musiclist-page
{
    width: 700px;
    margin: auto;

    //margin-top: 120px;
    //transition: opacity 2s linear;
    animation: show-music-list normal 1s ease-out;
    @keyframes show-music-list {
    	from { opacity: 0;}
    	to { opacity: 1;}
    }
}