.playerpage-container{
	height:600px;
    background:url('../assets/image/bk.jpg');
    //background-attachment: fixed;
   	background-repeat: no-repead;
    .glass{
    	-webkit-filter: blur(3px);
    	filter: blur(3px);
    	height:100%;
    	background:inherit;
    }
}
.playerpage{
    position: relative;
    margin-top: -600px;
    height: 100%;
}
.cover {
    width: 180px;
    height: 180px;
    margin-left: 50px;
    margin-top: 50px;
    img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
    .active{
    	animation: cover-img infinite 20s linear;
    }
    @keyframes cover-img {
    	from { transform: rotate(0deg);}
    	to { transform: rotate(360deg);}
    }
}